.slide-up-enter {
  opacity: 0;
  transform: translateY(100%);
}

.slide-up-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 1000ms, transform 1000ms;
}

.slide-up-exit {
  opacity: 1;
  transform: translateY(0%);
}

.slide-up-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 1000ms, transform 1000ms;
}
