*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
input:focus {
  outline: none;
}
tr,
td,
th {
  border-left: 1px solid #7f7f7f;
  border-right: 1px solid #7f7f7f;
  border-bottom: 1px solid #7f7f7f;
}
input,
button {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
@media (max-width: 768px) {
  input[type="text"],
  input[type="number"] {
    font-size: 14px !important;
  }
}
